In [1]:
import requests
import tarfile
import os
import math
import pandas as pd
from pandarallel import pandarallel
import dart_fss as dart
from tqdm import tqdm
import matplotlib.pyplot as plt
from IPython.display import display
pandarallel.initialize(progress_bar=True, use_memory_fs=True)

INFO: Pandarallel will run on 32 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.

In [2]:
with open('../../src/opendart_api_key.txt', 'r') as f: dart_api_key = f.read()

In [3]:
def load_korean_companies(dart_api_key):
    dart.set_api_key(api_key=dart_api_key)
    result = dart.get_corp_list()
    return result

In [4]:
korean_companies = load_korean_companies(dart_api_key)

Output()

Output()

In [5]:
korean_companies

Number of companies: 97036

In [6]:
korean_companies[100]

[00343163]한라스페코중공업

In [7]:
korean_companies = [(company.corp_code, company.corp_name, company.stock_code, company.modify_date) for company in tqdm(korean_companies)]
korean_companies = pd.DataFrame(
    korean_companies, 
    columns = [
        'corp_code', 
        'corp_name', 
        'stock_code', 
        'modify_date', 
    ]
)

100%|██████████| 97036/97036 [00:00<00:00, 203097.21it/s]

In [8]:
korean_companies

      corp_code          corp_name stock_code modify_date
0      00434003                 다코       None    20170630
1      00434456               일산약품       None    20170630
2      00430964              굿앤엘에스       None    20170630
3      00432403               한라판지       None    20170630
4      00388953  크레디피아제이십오차유동화전문회사       None    20170630
...         ...                ...        ...         ...
97031  00151571               청림실업       None    20221114
97032  01143889           에이치엠지하우징       None    20221114
97033  01359578          성남대장피에프브이       None    20221114
97034  01002944            스마트에프앤디       None    20221114
97035  01143737           에이치엠지글로벌       None    20221114

[97036 rows x 4 columns]

In [9]:
korean_companies.to_csv('korean_companies.csv', index=False)